.mono_list {
    position: absolute;
    overflow: scroll;
    border: 0.4px solid black;
    z-index: 101;
    top:0%;
    left:0%;
}

.mono_cell {
    position: relative;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 99.8%;
    height: 100px;
    z-index: 102;
    border: 0.5px solid black;
}

.mono_content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 103;
}

.bold {
    font-weight: bold;
}

data {
    position: fixed; /* none interactive hidden tag for storing data */
    display: none;
}